/* course1.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    
}

nav img {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

/* Main content styles */
h1, h3 {
    text-align: center;
}

.hcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 10px;
}

.card img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card h3 {
    text-align: center;
    margin-top: 10px;
}

.card p {
    text-align: center;
}

.date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date div {
    width: 45%;
    text-align: center;
}

.date span {
    font-weight: bold;
    color: #007bff;
}
